 h1 {
 font-family: 'Arial', sans-serif;
 color: rgb(193,35,0);
 font-weight: 700;
 padding: 0px;
 vertical-align: bottom;
 margin:0px;
 }
 
 h1.caption {
 font-family: 'Arial', sans-serif;
 font-size: 24pt;

 color: rgb(193,35,0);
 font-weight: 700;
 padding: 0px;
 vertical-align: bottom;
 margin:0px;
 }
 
 h1.footer {
 font-family: 'Arial', sans-serif;
 font-size: 12pt;
 line-height:12pt;
 font-weight: 700;
 padding-top: 20pt;
 padding-bottom: 8pt;
 }
 
 h1.footer2 {
 font-family: 'Arial', sans-serif;
 font-size: 10pt;
 line-height:10pt;
 font-weight: 700;
 padding-top: 3pt;
 }
 
 tr.spacer {
 height:30px;
 }
 
 td {
 padding-bottom: 2pt;
 margin:0px;
 }
 
 td.header {
 vertical-align: bottom;
 padding: 0px;
 margin:0px;
 }
 
 td.picture {
 vertical-align: bottom;
 padding-right: 20pt;

 }

 a {
 color: rgb(150,150,150);
 }

 a.backlink {
 color: rgb(193,35,0);
 }

 body {
 font-family: 'Arial-MT', 'Arial', sans-serif;
 font-size: 10pt;
 font-weight: 100;
 }
 
 p {
 font-family: 'Arial-MT', 'Arial', sans-serif;
 font-size: 10pt;
 font-weight: 100;
 }

 p.small {
 font-family: 'Arial-MT', 'Arial', sans-serif;
 font-size: 10pt;
 font-weight: 100;
 }
